.content-list {
  width: 1024px;
}

.list-title {
  display: flex;
}

.list-title p {
  height: 3rem;
  padding: 2rem 0 0 2rem;
  width: 30rem;
  color: grey;
  background-color: rgb(245, 245, 245);
}

.list-url {
  list-style: none;
}

.list-url li {
  display: flex;
}

.list-url p {
  width: 30rem;
  height: 3rem;
  padding-left: 1rem;
  border-bottom: 1px solid grey;
  font-size: 13px;
}

#visits-title {
  width: 5rem;
  padding-right: 1rem;
}

#visits-result {
  width: 5rem;
}
